* {
  font-family: 'Monaco', monospace, system-ui;
  /* margin-left: 510px;
  margin-right: 100px; */
}

.nav-links {
  /* display: flex;
  flex-direction: column; */
  margin-top: 100px;
  width: 120px;
  padding: 15px;
  margin-right: 10px;
}
.nav-links a {
  display: block;
  color: white;
  margin-bottom: 30px;
}
.nav-links a:hover::before {
  content: "::";
}


.heading {
  color: white;
}


body {
  margin-right: 135px;
  background-image: url(../images/marble3.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  color: white;
}

@media (max-width: 767px) {
  body {
    background-size: contain;
    background-position: center top;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-size: cover;
    background-position: center center;
  }
}

@media (min-width: 1024px) {
  body {
    background-size: cover;
    background-position: center center;
  }
}
